{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% if form.instance.pk %}Editar{% else %}Criar{% endif %} Tarefa</title>
    <link href="{% static 'styles.css' %}" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>{% if form.instance.pk %}Editar{% else %}Criar{% endif %} Tarefa</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Salvar</button>
        </form>
    </div>
</body>
</html>